#tieuDe {
    display: flex;
    justify-content: center;
}
.gioHang {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hinhCart {
    width: 35px;
    height: 35px;
}
.hinhCover {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.gioiThieu {
    text-align: center;
}
.hinhSP {
    width: 170px;
    height: 250px;
    margin: 10px;
}
div p {
    text-align: center;
}
input {
    width: 50px;
    text-align: center;
}
.sapXepSP {
    display: flex;
    justify-content: space-evenly;
}
.hide {
    display: none;
}

h2 {
    text-align: center;
}
.hinhTrongGio {
    width: 85px;
    height: 125px;
    margin: 10px;
}
input {
    width: 50px;
    text-align: center;
}
.Item {
    display: flex;
}
.haiPhan {
    display: flex;
    justify-content: space-evenly;
}
.nhap {
    width: 200px;
    text-align: center;
}